@page
@model IndexModel
@{
    var blogTitle = RouteData.Values["blogTitle"] as string;
    ViewData["Title"] = "About Shalzuth";
    ViewData["Description"] = "Shalzuth is a reverse engineer";
}
<div class="container text-center">
</div>

